.checkout-section .banner-top-content {
  padding: 48px 0 0;
  margin-bottom: 90px;
}
.checkout-section-content-container .form-hdng h2 {
  font-size: 30px;
  font-family: "Kugile";
  text-align: center;
  margin-bottom: 47px;
}
.checkout-form {
  margin-bottom: 32px;
}
.checkout-form .form-control {
  height: 60px;
}
.newsletter-content input {
  min-width: 30px;
  height: 30px;
}
.custom-checkbox {
  appearance: none;
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  background-color: #d9d9d9;
  cursor: pointer;
  position: relative;
}

.custom-checkbox:checked {
  background-color: #958578;
}

.custom-checkbox:checked::after {
  content: "✔";
  color: #fff;
  font-size: 25px;
  position: absolute;
  top: -2px;
  left: 6px;
}
.newsletter-content label {
  font-size: 25px;
  margin-left: 10px;
}
.newsletter-content {
  display: flex;
  align-items: center;
}
.billing-content-container {
  overflow: hidden;
  transition: max-height 0.3s ease;
  max-height: 0;
}
.checkout-section-right-content {
  background: #d9d9d9;
  height: 100%;
  padding: 163px 0 0;
}
.order-info-content {
  display: flex;
  align-items: normal;
  justify-content: space-between;
}
.order-info-left-content {
  display: flex;
  align-items: center;
  max-width: 82%;
}
.order-info-left-content .product-img img {
  width: 95px;
  height: 100px;
  object-fit: cover;
}
.order-info-left-content .product-img {
  width: fit-content;
  padding: 7px;
  padding-right: 0;
}
.quantity-controls .qtyBtn {
  width: 46px;
  height: 35px;
  outline: none;
  text-align: center;
  border: none;
  font-weight: 700;
  font-size: 25px;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.quantity-controls {
  background: #d9d9d9;
  width: fit-content;
}
.quantity-controls input {
  background: transparent;
  width: 50px;
  outline: none;
  text-align: center;
  border: none;
}
.order-info-content {
    background-color: #fff;
    margin: 0 46px 0 33px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px #00000040;
}
.product-details {
  margin-left: 10px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.order-right-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 13px 0;
    padding-right: 9px;
    max-width: 28%;
}
.order-right-content .close-button {
    line-height: 1;
    cursor: pointer;
}
.order-right-content p {
  margin-bottom: 0;
}
.order-info-content + .order-info-content{
  margin-top: 21px;
}
.order-summary-content-container {
    background: #fff;
    padding: 9px;
    padding-bottom: 31px;
    margin: 0 15px;
    border-radius: 10px;
}
.order-summary-hdng {
    background: #222222;
    color: #fff;
    font-family: "Kugile";
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    border-radius: 10px;
}
.order-summary-main-content-hdng {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2.5px solid #A6A6A6;
  font-size: 25px;
  font-weight: 700;
  font-style: italic;
  margin-top: 33px;
}
.order-summary-main-content-hdng p{
  margin-bottom: 0;
}

.order-summary-hdng {
    background: #222222;
    color: #fff;
    font-family: "Kugile";
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    border-radius: 10px;
}
.order-summary-content {
    display: flex;
    justify-content: space-between;
}
.order-summary-main-content {
    margin-top: 20px;
}
.order-information-content-container {
    padding-bottom: 45px;
}
.order-total .total-price {
    display: flex;
    justify-content: space-between;
    margin: 0 15px;
}
.order-total {
    margin: 23px 15px 0;
}
.checkout-section-left-content {
    padding-bottom: 399px;
}
.order-total .total-price span span{
  font-size: 25px;
  font-weight: 600;
}
a.order-confirmation-btn.common-btn {
    width: 90%;
    text-align: center;
    margin: 30px auto 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.order-summary-main-content > p, .order-information-content-container > p {
    font-size: 18px;
    text-align: center;
    margin-bottom: 0;
}

.order-summary-main-content .order-summary-content:last-child p{
  margin-bottom: 0;
}
@media (max-width:1199px) {
  .quantity-controls .qtyBtn {
    width: 26px;
}
.quantity-controls {
    display: flex;
}
.order-info-content{
  margin: 0 15px;
}
}
@media (max-width:991px){
  .checkout-section-content-container .row .col-md-7, .checkout-section-content-container .row .col-md-5{
    width: 100%;
  }
  .checkout-section-left-content {
    padding-bottom: 0;
}
.checkout-section-right-content {
    padding: 30px 0 0;
}
}
@media (max-width:767px) {
  .checkout-section-left-content {
    padding-bottom: 0;
}
.checkout-section-right-content {
    padding: 50px 0;
    margin: 0 -15px;
}
.order-info-content {
    margin: auto;
    max-width: 340px;
}
.order-summary-hdng {
    font-size: 20px;
    line-height: 50px;
}
.order-summary-hdng img{
    width: 40px;
    margin-right: 10px;
}
.common-btn {
    padding: 13px 13px !important;
}
.newsletter-content label {
    font-size: 18px;
}
.order-summary-content-container, .order-total .total-price {
    margin: 0 auto;
    max-width: 340px;
}
}