.sub-page-content-container {
    padding: 74px 0 124px;
}
.sub-page-hdng-content h2{
    font-family: 'Kugile';
    font-size: 50px;
    letter-spacing: 1px;
    line-height: 1.2;
}
.sub-page-content h4.sub-hdng{
    font-size: 30px;
    letter-spacing: 1px;
}
.sub-para {
    font-size: 16px;
}
.contact-us-content .sub-para {
    max-width: 500px;
}
.sub-page-content {
    margin-top: 20px;
}
.contact-us-content {
    margin-top: 34px;
}
.contact-us-content input, .contact-us-content textarea{
    background: #F1F1F1;
    border: 1px solid #000;
    width: 100%;
    height: 55px;
    border-radius: 8px;
    max-width: 491px;
    margin-bottom: 14px;
    padding: 18px 0;
    padding-left: 16px;
}
.contact-us-content textarea{
    height: 129px;
}
.form-response-message {
  margin-top: 20px;
  padding: 12px 16px;
  border-radius: 6px;
  background-color: #e8f5e9;
  color: #2e7d32;
  font-weight: 500;
  border: 1px solid #c8e6c9;
}
.form-response-message {
    margin-top: 30px;
    font-size: 20px;
}

.contact-us-bottom-content {
    margin-top: 62px;
}

.contact-us-bottom-content h4 {
    font-size: 35px;
}

.contact-us-bottom-content p {
    font-size: 23px;
    max-width: 1160px;
}

.terms-content-container .sub-page-content > h4{
    margin-bottom: 37px;
    font-size: 25px;
    font-weight: 400;
}

.terms-content-container .sub-page-content > p{
    font-size: 18px;
    margin-bottom: 72px;
}

.terms-content h5{
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 12px;
}

.terms-content p{
    font-size: 18px;
    line-height: 25px;
    word-spacing: 1px;
}
.terms-mail img{
    margin-right: 10px;
    display: inline-block;
}
.terms-mail{
    font-size: 18px;
}
.terms-bottom-content {
    margin-top: 92px;
}
.terms-bottom-content h4{
    font-size: 30px;
    line-height: 35px;
    font-weight: 700;
}
.terms-bottom-content .address-content{
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: flex-start;
    margin-top: 12px;
}
.terms-bottom-content .address-content img {
    margin-top: 8px;
    margin-right: 10px;
}
.faq-section-content-container .sub-page-hdng-content h2 {
    text-align: center;
}

.faq-section-content-container {
    background: linear-gradient(
    180deg,
    rgba(162, 176, 158, 0.3) 0%,
    rgba(149, 133, 120, 0.5) 100%
  );
}
.returns-policy-li{
    padding-left: 40px;
}

.sub-page-content-container a{
    color: #007BFF !important;
    text-decoration: none !important;
    font-weight: 400 !important;
}